body {
    background: url("/public/star-wars-background-full-hd-459613.jpg") center;
    height: 100vh;
    background-size: cover;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
}

.bigBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px 40px 10px 40px;
    border: 2px solid #ffd700;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.5);
    border-radius: 10px;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: #ffd700;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img{
    width: 140px;
    height: 170px;
}
button {
    background-color: #001f3f;
    color: #ffd700;
    border: 2px solid #ffd700;
    padding: 15px 25px;
    margin: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    border-radius: 5px;
}

button:hover {
    background-color: #ffd700;
    color: #001f3f;
    transform: scale(1.05);
}

.description {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

p {
    color: #ffd700;
    margin: 10px 0;
}

strong {
    color: #ffd700;
    position: relative;
    display: inline-block;
}

strong::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 2px;
    background-color: #ffd700;
}

.star-wars-body {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    overflow: hidden;
}

.story-container {
    width: 70%;
    margin: auto;
    overflow: hidden;
}

.crawl-container {
    position: relative;
    height: 100%;
    font-family: 'Arial', sans-serif;
    color: yellow;
    font-size: 20px;
    line-height: 1.5;
}

.story {
    font-size: 60px;
}
@media only screen and (max-width: 500px) {
    .bigBox {
        display: block;
    }

    h2 {
        font-size: 30px;
    }
    button {
        padding: 5px 2px;
        font-size: 14px;
    }

    p {
        font-size: 16px;
    }

    .story {
        font-size: 50px;
    }
    .container {
        padding: 0;
    }
    img {
        width: 130px;
        height: 160px;
    }
    .star-wars-body {
        height: 64vh;
    }
    ul {
        margin-top: 0;
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    }
}