body{
    background-color: #282c34;

}
.front {
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}


.App {
    width: 400px;
    text-align: center;
    padding: 30px;
    background-color: #383e4a;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}
.refreshButton{
    background-color: #61dafb;
    color: #fff;
    padding: 14px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}
.refreshButton:hover{
    background-color: #2188d1;
}
.input {
    width: calc(100% - 20px);
    padding: 14px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #495057;
    border-radius: 6px;
    background-color: #495057;
    color: #fff;
    outline: none;
}
.button1 {
    background-color: #61dafb;
    color: #fff;
    padding: 14px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.button1:hover {
    background-color: #2188d1;
}

.p {
    border: 1px solid #495057;
    padding: 14px;
    margin: 30px 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    background-color: #495057;
}
.button2 {
    background-color: #f44336;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}
.button2:hover {
    background-color: #d32f2f;
}
.p.fade-enter {
    opacity: 0.01;
}
.p.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}
h1 {
    color: #3498db;
}
form {
    margin-top: 20px;
}
label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    font-size: 16px;
    margin-bottom: 10px;
}

input:focus {
    border-color: #3498db;
}

.progress {
    margin-top: 30px;
    position: relative;
    height: 25px;
    background: #C0C0C0;
    border-radius: 6px;
    overflow: hidden;
}

.value {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 6px;
    background: linear-gradient(to right,  #e74c3c, #9b59b6);
    transition: width 0.5s ease-in-out;
    position: relative;
    animation: progressAnimation 1s ease-in-out;
}

.percent {
    color: #fff;
    font-weight: bold;
}

@keyframes progressAnimation {
    from {
        width: 0;
    }
}
