.front {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffd700;
    background-size: cover;
}
.head{
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.App {
    width: 50%;
    text-align: center;
    padding: 0px 30px ;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.2);
    border-radius: 12px;
}

.refreshButton {
    background-color: #001f3f;
    color: #ffd700;
    padding: 14px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.refreshButton:hover {
    background-color: #ffd700;
    color: #001f3f;
}

.input {
    width: calc(100% - 20px);
    padding: 14px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ffd700;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffd700;
    outline: none;
}

.button1 {
    padding: 10px;
    background-color: #001f3f;
    color: #ffd700;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.button1:hover {
    background-color: #ffd700;
    color: #001f3f;
}
.todoItem{
    display: grid;
    grid-template-columns: repeat(3, minmax(60px, 1fr));
}

.todoLists {
    border: 1px solid #ffd700;
    /*padding: 8px 0 8px 4px;*/
    margin: 8px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.6);
}

.button2 {
    padding: 0 5px;
    background-color: #f44336;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.button2:hover {
    background-color: #d32f2f;
}

h1 {
    color: #ffd700;
}

.form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #ffd700;
}

input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ffd700;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffd700;
}

input:focus {
    border-color: #001f3f;
}

.progress {
    margin-top: 30px;
    position: relative;
    height: 25px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    overflow: hidden;
}

.value {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 6px;
    background: linear-gradient(to right, #e74c3c, #9b59b6);
    transition: width 0.5s ease-in-out;
    position: relative;
    animation: progressAnimation 1s ease-in-out;
}

.percent {
    color: #fff;
    font-weight: bold;
}

@keyframes progressAnimation {
    from {
        width: 0;
    }
}
@media only screen and (max-width: 765px) {
    .App {
        width: 90%;
        padding: 0px 15px;
    }

    .refreshButton,
    .input,
    .todoLists,
    .button2,
    h1,
    label,

    .progress {
        padding: 0 5px;
        margin: 20px 1px;
        font-size: 10px;

    }
    .input{
        margin-bottom: 0;
        height: 20px;
    }

    .button1{
        padding: 5px;
    }


    input {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .progress {
        margin-top: 20px;
        height: 15px;
    }
}